@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

/* Variables */
:root {
  --pink: rgba(230, 0, 98, 0.75);
  --green: rgba(169, 160, 50, 0.75);
  --yellow: rgba(252, 171, 55, 0.75);
  --brown: rgba(83, 70, 54, 0.75);
}


html, body {
  margin: 0;
  height: 120%;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20px;
  width: 100%;
    height: 100vh;
}

.navigate
{
  width: 80%;
  padding: 8px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgb(205, 205, 205);
  border-radius: 20px;
}
.navbar{
  border-radius: 20px;

  padding: 6px 20px;

  /* for mobile version 
  position: fixed;
  width: 80%;
  z-index: 1000; */
}
.navbar-brand
{
  width: 20%;

}

.logo{
  width: 38%;
}
.navbar-nav{
  font-family: "Noto Sans", sans-serif;
}

.navbar-nav li a{
  font-size: 18px;
  font-weight: 600;
  margin:0px 10px;
  color: black;
}

.form-control
{
  border: 1px solid rgb(206, 201, 201);
 
}
.btn-outline-success{
  border: none;
  border-radius: 50%;
}
.btn-outline-success:hover{
  background-color: white;
  box-shadow: 2px 2px 10px black;
}
.fa-magnifying-glass{
  font-weight: bolder;
  color: black;
}
.fa-magnifying-glass:hover{
  font-weight: bolder;
  
}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
    color: #eee;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  transition: font-size 0.2s ease;
  font-size: 24px;
  cursor: pointer;
}

.scroll-down:hover {
  font-size: 30px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size: 80px;
    font-weight: bold;
}
.info h2{
    font-size: 50px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 20px auto;
}


.section1,.section2
{
  height: 100vh;
  width: 100%;
}



/*
     Section 1
*/


.cara{
  position: relative;

  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
  display: grid;
  place-items: center;
  overflow: hidden;

}



.item {
  width: 200px;
  height: 150px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 20px 30px rgba(230, 229, 229, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.navs {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.712);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 200px;
    height: 180px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 180px;
    height: 160px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}




.newslat{
  height: 30vh;
  width: 100%;
  padding: 10px 40px;

  margin: 10px auto;
  display: grid;
  place-items: center; 
}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8em;
}
.hor-line
{
  border: 2px solid #89023E;
  width: 80%;
  margin: 0px auto;
  border-radius: 50px;
}



.subscribe-container {
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px 10px;
  border: 2px solid #000;
  border-radius: 30px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset; /* Inner shadow */
  font-size: 16px;
  background-color: #2c2c3d; /* Background color from screenshot */
  color: #fff;
  flex: 1 0 250px; /* Flexible and minimum width */
}

.subscribe-input::placeholder {
  color: #ccc;
 
}

.subscribe-button {
  padding: 10px 0px;
  width: 10px;
  margin: 10px 0;
  background-color: #232323; /* Background color from screenshot */
  color: white;
  border: none;
  border-radius: 30px; /* Rounded corners */
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 0 auto;
}

.subscribe-button:hover {
  background-color: #444;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .subscribe-container {
    width: 100%;
    padding: 10px;
  }

  .subscribe-title {
    font-size: 20px;
  }

  .subscribe-input {
    flex: 1 0 100%;
  }

  .subscribe-button {
    flex: 1 0 100%;
  }
}


/*
     Section 2
*/

.section2
{
  width: 100%;
margin: 0 auto;
min-height: 100vh;
display: inline-block;
text-align: center;
vertical-align: middle;
}
.head-text-hax h4{
  font-size: 40px;

}
.hore-line
{
  width: 10%;
  border: 3px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 5px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 180px;
  grid-gap: 1px;
}

.imageText{
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: #350f52;
  opacity: .7;
  transform-origin: bottom;
  box-shadow: 0px -5px 1px #000000;
  transform: translateY(9rem);
  transition: transform 250ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon:hover .imageText{
  position: absolute;
  top: 0rem;
  transform: translateY(0rem);
  box-shadow: 0px -5px 5px #000000;
  transition: transform 300ms ease-out;
}

.imageTextHeader{
  color: #FFFFFF;
}

.hexagon{
  z-index: 0;
  display: flex;
  width: 200px;
  height: 220px;
  position: relative;
  background: #151515;
  transition: transform .5s ease-out;
  overflow: hidden; 
  transform: rotate(0deg) translateX(0px);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon:hover img {
  transform: scale(1.3); /* Scale image on hover */
  transition: transform .5s ease-out;
}
.hexagon:first-child{
  grid-row-start: 1;
  grid-column: 2 / span 2;
}
.hexagon:nth-child(2){
  grid-row-start: 1;
  grid-column: 4 / span 2;
}
.hexagon:nth-child(3){
  grid-row-start: 1;
  grid-column: 6 / span 2;
}
.hexagon:nth-child(4){
  grid-row-start: 2;
  grid-column: 1 / span 2;
}
.hexagon:nth-child(5){
  grid-row-start: 2;
  grid-column: 3 / span 2;
}
.hexagon:nth-child(6){
  grid-row-start: 2;
  grid-column: 5 / span 2;
}
.hexagon:nth-child(7){
  grid-row-start: 2;
  grid-column: 7 / span 2;
}
.hexagon:nth-child(8){
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hexagon:nth-child(9){
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hexagon:nth-child(10){
  grid-row-start: 3;
  grid-column: 6 / span 2;
}


/*
     Section 3
*/
.section3{
  margin: 100px auto;

}






/*Privacy Policy */


.containerf{
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}



.summary-point {
  margin-bottom: 20px;
}

.toc {
  list-style-type: none;
  padding-left: 0;
}

.toc li {
  margin-bottom: 5px;
}

.toc a {
  color: #007bff;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.section-content {
  margin-top: 20px;
}



/* Terms and condtion */

.containerop {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.containerop h1,
.containerop h2 {
  color: #333;
  margin-top: 20px;
}

.containerop p {
  margin-bottom: 15px;
}

.containerop a {
  color: #007bff;
  text-decoration: none;
}

.containerop a:hover {
  text-decoration: underline;
}

.containerop ul {
  margin-bottom: 15px;
}

.containerop ul li {
  margin-bottom: 5px;
}

.containerop #disclaimer,
.containerop #limitation,
.containerop #indemnification,
.containerop #governing-law,
.containerop #dispute-resolution,
.containerop #miscellaneous,
.containerop #contact {
  margin-top: 40px;
}

.containerop #privacy-link {
  font-weight: bold;
}

















/* footer */


.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.instagram-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}



/*popular-cities*/

.popular-cities
{
  min-height: 100vh;

}
.popular-cities h4{
  font-size: 2em;
  font-weight: 700;
}
.horr-line {
  width: 25%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
}


.card {
  height: 215px;

  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.card h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;

}

.card p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
 
}

.card img {
  position: absolute;
  top: 0;
  height: 110%;
  width: 100%;
  z-index: 1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: translateY(-10px);
  z-index: -1;
}





/* Cookies Policy*/

.containercp {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.textcp {
  color: #555;
  margin-bottom: 15px;
}

.textcp strong {
  color: #000;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.list {
  padding-left: 20px;
  margin-bottom: 15px;
}

.list-item {
  margin-bottom: 10px;
  color: #555;
}

.list-item .textcp {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .containercp {
      padding: 15px;
  }

  .heading {
      font-size: 1.5em;
  }
}



/* Disclaimer */

.containerdis {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.disclaimer-title {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 30px;
}

.disclaimer-subtitle {
  color: #343a40;
  margin-top: 30px;
}

.disclaimer-paragraph {
  color: #6c757d;
  line-height: 1.6;
}

.disclaimer-link {
  color: #007bff;
  text-decoration: none;
}

.disclaimer-link:hover {
  text-decoration: underline;
}



.content-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #000;
}











@media only screen and (max-width: 480px) {

  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
      min-height: 40vh;
  }
  
  .navigate
  {
    width: 100%;
    height: 8%;

    min-height: 6%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 2px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  
  }
  
  .logo{
    width: 78%;
  }
  .navbar-nav li a{
    font-size: 12px;

  }
  .main{
    min-height: 80vh;
}

.scroll-down {
  
  bottom: 10px;
  left: 50%;
}

.scroll-down:hover {
  font-size: 20px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size: 30px;
    font-weight: bold;
}
.info h2{
    font-size: 20px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 10px auto;
}
.section1,.section2
{
  min-height: 50vh;
max-height: 80vh;
  margin: 20px 0px;
  width: 100%;
}


#section1{
 height: 80vh; 
}
/*
     Section 1
*/


.cara{


  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 40vh;
  width: 100%;
  border-radius: 0px;


}



.item {
  width: 120px;
  height: 100px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 140px); }
  &:nth-child(5) { left: calc(50% + 340px); }
  &:nth-child(6) { left: calc(50% + 560px); opacity: 0; }
}

.content {
  width: min(40vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

 

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}


.newslat{
  padding: 10px;
}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4em;
}

.subscribe-container {
  padding: 10px;

}


.subscribe-form {
  width: 80%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px;

}

.subscribe-button {
  padding: 10px 0px;
  width: 10px;
  margin: 5px 0;
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  flex: 1 0 auto;
}


/*popular-cities*/

.popular-cities
{
  min-height: 40vh;

}
.popular-cities h4{
  font-size: 1.5em;
  font-weight: 700;
}
.horr-line {
  width: 45%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 155px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}
.section2
{
  width: 100%;
margin: 20px auto;

}
.head-text-hax h4{
  font-size: 30px;

}
.hore-line
{
  width: 30%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 430px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 0px;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 14px;
}
.hexagon{
  width: 100px;
  height: 120px;
}
.section2{
  height: 40vh;
}


/* footer */



.single-cta i {
  color: #ff5e14;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon
{
  text-align: center;
  margin: 20px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;

  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.instagram-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #89023E;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #89023E;
    padding: 13px 20px;
    border: 1px solid #89023E;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}



}

@media only screen and (max-width: 650px) and (min-width:480px) {
  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
      min-height: 60vh;
  }
  
  .navigate
  {
    width: 100%;
    height: 8%;

    min-height: 6%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 2px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  
  }
  
  .logo{
    width: 78%;
  }
  .navbar-nav li a{
    font-size: 12px;

  }
  .main{
    min-height: 80vh;
}

.scroll-down {
  
  bottom: 10px;
  left: 50%;
}

.scroll-down:hover {
  font-size: 20px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size: 40px;
    font-weight: bold;
}
.info h2{
    font-size: 30px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 10px auto;
}
.section1,.section2
{
  min-height: 50vh;
  width: 100%;
}

#section1{
  height: 80vh;
}


/*
     Section 1
*/


.cara{
  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 40vh;
  width: 100%;
  border-radius: 0px;

}

.item {
  width: 120px;
  height: 100px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 140px); }
  &:nth-child(5) { left: calc(50% + 340px); }
  &:nth-child(6) { left: calc(50% + 560px); opacity: 0; }
}

.content {
  width: min(40vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

 

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}



.newslat{
  padding: 20px;
}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8em;
}

.subscribe-container {
  padding: 10px;

}


.subscribe-form {
  width: 100%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px;

}

.subscribe-button {
  padding: 10px 0px;
  width: 10px;
  margin: 5px 0;
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  flex: 1 0 auto;
}


/*popular-cities*/

.popular-cities
{
  min-height: 60vh;

}
.popular-cities h4{
  font-size: 1.5em;
  font-weight: 700;
}
.horr-line {
  width: 45%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 105px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}
.section2
{
  width: 100%;
margin: 20px auto;

}
.head-text-hax h4{
  font-size: 30px;

}
.hore-line
{
  width: 30%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 510px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 120px;
  grid-gap: 0px;
}

.hexagon{
  width: 120px;
  height: 140px;
}
.section2{
  height: 40vh;
}

.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 16px;
}
/* footer */



.single-cta i {
  color: #ff5e14;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.instagram-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #89023E;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #89023E;
    padding: 13px 20px;
    border: 1px solid #89023E;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}


}

@media only screen and (max-width: 768px) and (min-width:650px) {
  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
      min-height: 80vh;
  }
  
  .navigate
  {
    width: 100%;
    height: 8%;

    min-height: 6%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 2px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  
  }
  
  .logo{
    width: 60%;
  }
  .navbar-nav li a{
    font-size: 12px;

  }
  .main{
    min-height: 80vh;
}

.scroll-down {
  
  bottom: 10px;
  left: 50%;
}

.scroll-down:hover {
  font-size: 20px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size:50px;
    font-weight: bold;
}
.info h2{
    font-size: 35px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 5px auto;
}
.section1{
    max-height: 70vh;
  width: 100%;
}

#section1{
  height: 65vh;
}
.section2
{
  min-height: 50vh;
  width: 100%;
}
/*
     Section 1
*/


.cara{


  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 40vh;
  width: 100%;
  border-radius: 5px;


}



.item {
  width: 130px;
  height: 100px;
  border-radius: 5px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 150px); }
  &:nth-child(5) { left: calc(50% + 340px); }
  &:nth-child(6) { left: calc(50% + 560px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

 

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}

.newslat{
  height: 15vh;
  width: 100%;

}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
}

.subscribe-container {
  padding: 5px;

}

.subscribe-form {
  width: 90%;
}

.subscribe-input {
  padding: 10px;
  margin: 5px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 14px;

}

.subscribe-button {
  padding: 10px 5px;
  width: 10px;
  margin: 5px 10px;
  border-radius: 10px; /* Rounded corners */
  font-size: 12px;
  flex: 1 0 auto;
}


/*popular-cities*/

.popular-cities
{
  min-height: 45vh;

}
.popular-cities h4{
  font-size: 1.5em;
  font-weight: 700;
}
.horr-line {
  width: 45%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 105px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}
.section2
{
  width: 100%;
margin: 20px auto;

}
.head-text-hax h4{
  font-size: 30px;

}
.hore-line
{
  width: 30%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 510px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 120px;
  grid-gap: 0px;
}

.hexagon{
  width: 120px;
  height: 140px;
}
.section2{
  height: 40vh;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 18px;
}

/* footer */



.single-cta i {
  color: #ff5e14;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.instagram-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #89023E;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #89023E;
    padding: 13px 20px;
    border: 1px solid #89023E;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}

}


@media only screen and (max-width: 860px) and (min-width:768px) {

  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
      min-height: 80vh;
  }
  
  .navigate
  {
    width: 80%;
    height: 1%;

    min-height: 0%;
    padding: 1px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 2px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  
  }
  
  .logo{
    width: 55%;
  }
  .navbar-nav li a{
    font-size: 12px;

  }
  .main{
    min-height: 80vh;
}

.scroll-down {
  
  bottom: 10px;
  left: 50%;
}

.scroll-down:hover {
  font-size: 20px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size:60px;
    font-weight: bold;
}
.info h2{
    font-size: 40px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 5px auto;
}
.section1{
    max-height: 70vh;
  width: 100%;
}
.section2
{
  min-height: 55vh;
  width: 100%;
}
/*
     Section 1
*/


.cara{
  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 45vh;
  width: 100%;
  border-radius: 5px;
}



.item {
  width: 130px;
  height: 100px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 150px); }
  &:nth-child(5) { left: calc(50% + 340px); }
  &:nth-child(6) { left: calc(50% + 560px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

 

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}



.newslat{
  height: 20vh;
  width: 100%;

}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
}

.subscribe-container {
  padding: 10px;

}


.subscribe-form {
  width: 90%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;

}

.subscribe-button {
  padding: 10px 5px;
  width: 10px;
  margin: 5px 10px;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;
  flex: 1 0 auto;
}


/*popular-cities*/

.popular-cities
{
  min-height: 30vh;

}
.popular-cities h4{
  font-size: 1.5em;
  font-weight: 700;
}
.horr-line {
  width: 45%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 105px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}
.section2
{
  width: 100%;
margin: 20px auto;

}
.head-text-hax h4{
  font-size: 30px;

}
.hore-line
{
  width: 30%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 550px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 130px;
  grid-gap: 0px;
}

.hexagon{
  width: 130px;
  height: 150px;
}
.section2{
  height: 40vh;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 18px;
}

/* footer */



.single-cta i {
  color: #ff5e14;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fffbfb;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #89023E;
    padding: 13px 20px;
    border: 1px solid #89023E;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}


}

@media only screen and (max-width: 1024px) and (min-width:860px) {

  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
    min-height: 60vh;
  }
  
  .navigate
  {
    width: 80%;
    height: 0%;

    min-height: 0%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 2px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  
  }
  
  .logo{
    width: 55%;
  }
  .navbar-nav li a{
    font-size: 12px;

  }
  .main{
    min-height: 80vh;
}

.scroll-down {
  
  bottom: 10px;
  left: 50%;
}

.scroll-down:hover {
  font-size: 20px;
 
}


.sides, .info {
  flex: 0 0 auto;
  width: 50%;
}

.info {
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.info h1{
    font-size:60px;
    font-weight: bold;
}
.info h2{
    font-size: 40px;
    
}

.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 5px auto;
}
.section1{
    max-height: 75vh;
  width: 100%;
}
.section2
{
  min-height: 65vh;
  width: 100%;
}
/*
     Section 1
*/


.cara{


  box-shadow: 2px 2px 20px rgb(170, 166, 166);
  margin: 10px auto;
  height: 45vh;
  width: 100%;
  border-radius: 5px;


}



.item {
  width: 130px;
  height: 100px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 150px); }
  &:nth-child(5) { left: calc(50% + 340px); }
  &:nth-child(6) { left: calc(50% + 560px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

 

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}


.newslat{
  height: 15vh;
  width: 100%;

}

.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
}

.subscribe-container {
  padding: 10px;

}


.subscribe-form {
  width: 90%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;

}

.subscribe-button {
  padding: 10px 5px;
  width: 10px;
  margin: 5px 10px;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;
  flex: 1 0 auto;
}


/*popular-cities*/


.popular-cities
{
  min-height: 40vh;
 height: 50vh;
}
.popular-cities h4{
  font-size: 1.8em;
  font-weight: 700;
}
.horr-line {
  width: 40%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 105px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}
.section2
{
  width: 100%;
margin: 20px auto;

}
.head-text-hax h4{
  font-size: 30px;

}
.hore-line
{
  width: 30%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 550px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 130px;
  grid-gap: 0px;
}

.hexagon{
  width: 130px;
  height: 150px;
}
.section2{
  height: 40vh;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 18px;
}

/* footer */



.single-cta i {
  color: #ff5e14;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 150px;
    background-color: white;
    border-radius: 10px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 16px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscrib-form {
  position: relative;
  overflow: hidden;
}
.subscrib-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscrib-form button {
    position: absolute;
    right: 0;
    background: #89023E;
    padding: 13px 20px;
    border: 1px solid #89023E;
    top: 0;
}
.subscrib-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 5px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.coppp{
  display: flex;
  justify-content: center;
  align-items: center;
}

  
}


@media only screen and (max-width: 1120px) and (min-width:1024px) {

  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
    min-height: 80vh;
  }
  .navigate
  {
    width: 80%;
    height: 8%;
    min-height: 6%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 4px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  }
  .logo{
    width: 55%;
  }
  .navbar-nav li a{
    font-size: 14px;
  }
  .main{
    min-height: 80vh;
}


.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 5px auto;
}
.section1{
  max-height: 95vh;
width: 100%;
}
.section2{
  min-height: 20vh;
  max-height: 75vh;
}

/*
     Section 1
*/


.item {
  width: 130px;
  height: 120px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 150px); }
  &:nth-child(5) { left: calc(50% + 300px); }
  &:nth-child(6) { left: calc(50% + 460px); opacity: 0; }
}

.content {
  width: min(40vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}


.newslat{
  height: 20vh;
  width: 100%;

}
.head-for-news h4{
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
}

.subscribe-container {
  padding: 10px;
}


.subscribe-form {
  width: 90%;
}

.subscribe-input {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;

}

.subscribe-button {
  padding: 10px 5px;
  width: 10px;
  margin: 5px 10px;
  border-radius: 10px; /* Rounded corners */
  font-size: 16px;
  flex: 1 0 auto;
}


/*popular-cities*/


.popular-cities
{
  min-height: 20vh;
 height: 60vh;
}
.popular-cities h4{
  font-size: 2em;
  font-weight: 700;
}
.horr-line {
  width: 30%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 130px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}

.head-text-hax h4{
  font-size: 40px;

}
.hore-line
{
  width: 20%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}
.mega {

  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  
}

.containered{
  max-width: 550px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 130px;
  grid-gap: 0px;
}

.hexagon{
  width: 140px;
  height: 160px;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 18px;
}

  
}

@media only screen and (max-width: 1366px) and (min-width:1120px) {

  .header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27, 32, 48, 0.312) 100%), url("coverpic.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center; /* Center horizontally */
  /* Center vertically */
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
    min-height: 80vh;
  }
  .navigate
  {
    width: 80%;
    height: 8%;
    min-height: 6%;
    padding: 2px;
    border-radius: 10px;
  }
  .navbar{
    border-radius: 10px;
    padding: 4px 0px;
    z-index: 1000; 
  }
  .navbar-brand
  {
    width: 20%;
  }
  .logo{
    width: 50%;
  }
  .navbar-nav li a{
    font-size: 18px;
  }
  .main{
    min-height: 80vh;
}


.baseline{
    border: 2px solid white;
    width: 30%;
    margin: 5px auto;
}

/*
     Section 1
*/


.item {
  width: 130px;
  height: 120px;
  border-radius: 10px;
 

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 150px); }
  &:nth-child(5) { left: calc(50% + 300px); }
  &:nth-child(6) { left: calc(50% + 460px); opacity: 0; }
}

.content {
  width: min(40vw,400px);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.695);
  opacity: 0;
  display: none;

  & button {
    padding: 0.55rem;
    cursor: pointer;
  }
}


.navs {
  position: absolute;
  bottom: 1rem;


  & .btn {
    padding: 0.55rem;
  }
}



/*popular-cities*/


.popular-cities
{
  min-height: 80vh;
 
}
.popular-cities h4{
  font-size: 2em;
  font-weight: 700;
}
.horr-line {
  width: 30%;
  border: 2px solid #89023E;
}
 /* CSS Code */
 .containeredd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}


.card {
  height: 160px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin: 10px 0 0 10px;

}

.card img {
  height: 110%;

}

.head-text-hax h4{
  font-size: 40px;

}
.hore-line
{
  width: 20%;
  border: 2px solid #89023E;
  border-radius:50px ;
  margin: 0px auto 30px;
}


.containered{
  max-width: 620px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
  filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 3px #202020);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 130px;
  grid-gap: 0px;
}

.hexagon{
  width: 140px;
  height: 160px;
}
.section2{
  height:90vh;
}
.imageTextHeader h2{
  color: #FFFFFF;
  font-size: 18px;
}

.subscribe-button {
  padding: 10px 0px;
  width: 10px;
  margin: 5px 0;
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  flex: 1 0 auto;
}


}









